/*
================================================================================================
Table of Content
================================================================================================
  1. body 
  2. container
  3. header
  4. header logo
  5. header menu
  6. header searchform
  7. slide
  8. slide carousel-container
  9. slide-article
  10. carousel-control-prev and .carousel-control-next
  11. block-article
  12. footer

  13. * Style page single*
  14. * archive style*
  15. Sidebar
  16. aside .widget
  17. Pagination
  18. media queries
  x.0 - Navigation 
*/
body{
	background-image:url(../img/back.png);
}
.container{
	box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
	background: white;
}
a {
	color: #feb236;
}
/*
================================================================================================
Header style
================================================================================================
*/
header{
	background: #192E65;
}

/*Block du logo */
header .logo a{
	text-decoration: none;
}

.logo{
	padding:2%;
	font-family: 'Montserrat';
}
.logo h5{
	color: white;
}
.logo h2{
	color: #feb236;
}
.navbar{
	font-size: 1.2em;
}
.navbar ul > li {
	margin-right: 20px;
}
.navbar ul{
	margin: auto;
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	font-family: montserrat;
}
.navbar ul a{
	text-decoration: none;
	color: #fff;
}

.navbar ul a:hover, .navbar-actif a{
	background: #feb236;
	border: 10px solid #feb236;
	color: black;
}
.navbar-actif a{
	color: black !important;
}
.navbar-toggler-icon{
	display: flex;
	justify-content: space-between;
}
/*
================================================================================================
slide style
================================================================================================
*/
.slide{
	width: 100%;
	background-size: cover;
	height: 380px;
	position: relative;

}
.carousel-container .slide img{
	width: 100%;
	height: auto;
}
.slide-article{
	width: 37%;
	/*rgb (red, green, b,opacité)*/
	background: rgba(254,178,53,0.8);
	padding: 23px;
	margin-left: 100px;
	font-family: montserrat;
	position: absolute;
	bottom: 55px;
}
.slide-article a{
	color: #483f3f;
	font-weight: bold;
}
.slide-article a:hover{
	text-decoration: none;
	color: #616060;
}
.slide-article p{
	color: #111111;
	font-size: 0.9em;
}
.carousel-control-prev, .carousel-control-next{
	height: 80px;
	width: 4%;
	background: #feb236;
	margin-top: 13%;
	transition: opacity 300ms ease-out;
}
.carousel-control-prev{
	border-radius: 0px 100px 100px 0px;
}
.carousel-control-next{
	border-radius:100px 0px 0px 100px;
}
.carousel-control-prev-icon:before{
	content: '\f053';
}
.carousel-control-next-icon:before{
	content: '\f054';
}
.carousel-control-prev-icon, .carousel-control-next-icon{
	background-image: none;
	font-family: 'FontAwesome';
	color:#192E65;
}

.block-article{
	/* justify-content: space-around; */
	font-family: montserrat;
	color:#272727;
	margin-bottom: 30px;
	margin-top: 0px;
	overflow: hidden;
}
.block-article .article img{
	height: 200px;
	border-radius: 0px;
}
.block-article .article {
	border: 0px;
	border-radius: 0px;
}
.block-article p{
	font-size: 0.8em;
}
.block-article .title a{
	text-decoration: none;
	color: #212529;
}
.block-article .title a:hover{
	color: #feb236;
	
}
.block-article .time{
	text-transform: uppercase;
	color: #8f6d0c;

}
.section-index h3{
	color: #656262;
	font-size: bold;
	padding: 20px;
}
.card-body{
	padding: 0px;
}
/*
================================================================================================
Sidebar
================================================================================================
*/
footer{
	height: 100px;
	background: #192E65;
}
footer .auteur{
	padding-top: 3%;
	padding-left: 2%;
	color: #feb236;
	font-size: 1em;
	font-family: montserrat;
}
footer .col-sm{
	font-family: 'FontAwesome';
	padding-top: 3%;
	color: #feb236;
	text-align: right;
}
footer a{
	text-decoration: none;
	color: #feb236;
	margin-left: 4%;
}
footer a:hover{
	text-decoration: none;
	color: #c6c6ce;
}
/* Style page single*/

.block-info{
	margin-top: 28px;
}
.single-post .title{
	border-left: 10px solid #feb236;
	background-color: #ccc;
	padding-left: 10px;
	color: white;
	font-family: "Montserrat";

}

/* archive style*/

.slide-archive{
	width: 100%;
	background-size: cover;
	height: 100px;
	position: relative;
	background-color: #192E65;
	overflow: hidden;

}
.slide-archive img{
	opacity: .4;
	height: auto;
	width: 100%;
}
.slide-archive .slide-article{
	width: 100%;
	background:none;
	text-align: center;
	margin-left: 0px;
	color: #fff;
	bottom: 0px;
}

.info{
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.info h3{
	padding: 0px;
	text-align: center;
	background: #ccc;
	border-left: 10px solid #feb236;
	color: white;
}
.info a{
	text-decoration: none;
	color: #000;
}
.info a:hover{
	color: #feb236;
}
.info ul li{
	border-bottom: 0.1px dashed #ccc;
	list-style: none;
	padding: 5px;

}
.main-container {
	padding-top: 30px;
}

/*
================================================================================================
Sidebar
================================================================================================
*/
aside iframe {
	max-width: 100%;
}
aside .widget {
  max-width: 100%;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2); }

aside .widget ul, .widget ol, .widget > div {
  padding: 15px 10px; }

aside .row.widget {
  margin-bottom: 20px;
  border: solid 1px #d8d8d8; }

aside .widget-title {
  color: #FFF;
  font-family: "Montserrat", "Georgia", sans-serif;
  text-transform: uppercase;
  display: block;
  margin-bottom: 15px;
  background: #feb236; }

aside .widget_search .widget-title {
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  background: none; }

aside .widget_search {
  background: #3da05b;
  padding: 5px 10px 0px 15px;
  border: solid 1px #3da05b; }

aside .widget_search button {
  font-size: 1.4em; }

aside .widget .button.small {
  padding: 0.6rem 0.5rem 0.7rem 0.5rem;
  font-size: 0.8125rem; }

aside .widget-title {
  padding: 5px 10px 0px 15px;
  margin-bottom: 0px;
  margin-top: 0px; }

aside .widget-title .fa {
  font-size: 0.85em;
  height: 22px;
  line-height: 22px;
  padding-right: 10px;
  display: block;
  float: left; }

aside .twitter-feed .widget-title {
  background: #35a0d8; }

aside .widget.twitter-feed {
  max-height: 300px;
  overflow: hidden; }

aside .facebook-box .widget-title {
  background: #3e5e97; }

aside .facebook-box iframe {
  width: 100%; }

aside .recent-posts-box ul {
  padding: 0;
  margin: 0;
  padding: 15px; }

aside .widget ul li {
  list-style: none;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: dashed 1px #ededed; }

aside .widget ul li:last-child {
  border-bottom: none; }

aside .recent-posts-box ul li:last-child {
  border-bottom: none; }

.widget .button.small {
  padding: 0.64rem;
  font-size: 0.8125rem;
  width: 100%; }

.widget ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.widget ul li a {
  font-size: 0.9em;
  color: #020d16; }

footer .widget ul li a {
  font-size: 0.9em;
  color: #a2a2a1; }

aside .recent-posts-box ul li a {
  font-size: 0.8em; }

.widget ul li a:hover {
  color: #feb236;
  text-decoration: none; 
}

/*
================================================================================================
Pagination
================================================================================================
*/
.pagination-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.page-numbers, .nav-links div {
  font-family: "Montserrat", "Georgia", sans-serif;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2px 0 0;
  border: 1px solid #feb236;
  line-height: 1;
  text-decoration: none;
  border-radius: 2px;
  font-weight: 600;
  font-size: 1em; }

.page-numbers.current,
a.page-numbers:hover {
  background: #feb236;
  color: #FFF; }

span.page-numbers.dots {
  color: #feb236; }

.pagination-wrapper {
  margin: 15px 0px; }

ul.pagination li.current a,
ul.pagination li.current button {
  background: #feb236; }

ul.pagination li a, ul.pagination li {
  font-size: 1em;
  font-family: "Montserrat", "Georgia", sans-serif; }

ul.pagination li.current a:hover, ul.pagination li.current a:focus, ul.pagination li.current button:hover, ul.pagination li.current button:focus {
  background: #feb236; }

/*
================================================================================================
Media queries
================================================================================================
*/

/*screen resolution <= 1024 */
@media screen and (max-width: 1024px)
{
    /*slide personalisation */
    .slide-article{
	width: 50%;
	bottom: 15%;
	}

	.slide-article p{
	/*display: none;*/
	}
	.carousel-control-prev, .carousel-control-next{
	height: 60px;
	width: 4%;
	margin-top: 15%;
	}
	.carousel-container .slide img{
	height: 100%;
	}


}
/*screen resolution <= 960 */

@media screen and (max-width: 960px)
{
    /*slide personalisation */
    .slide{
    height: 300px;
    }
    .slide-article{
	width: 50%;
	bottom: 10%;
	}

	.slide-article p{
	display: none;
	}
	.carousel-control-prev, .carousel-control-next{
	height: 60px;
	width: 4%;
	margin-top: 20%;
	}
	.carousel-container .slide img{
	height: 100%;
	}
	footer .col-sm{
		text-align: left;
	}

}
/*screen resolution <= 720 */

@media screen and (max-width: 720px)
{
    /*slide personalisation */
    .slide{
    height: 300px;
    }
    .slide-article{
	width: 50%;
	bottom: 15%;
	}

	.slide-article p{
	display: none;
	}
	.carousel-control-prev, .carousel-control-next{
	height: 60px;
	width: 4%;
	margin-top: 30%;

	}
	.carousel-container .slide img{
	height: 100%;
	}

}
/*screen resolution <= 540 */

@media screen and (max-width: 540px)
{
    /*slide personalisation */
    .slide{
    	height: 300px;
    }
    .slide-article{
	width: 70%;
	bottom: 15%;
	margin-left: 15%;
	}

	.slide-article p{
	display: none;
	}
}

/*
